<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>releak</title>
</head>

<body>
    <h3>List of available tags</h3>

    <div class="container">

        <div class="tab-wrap">

        {% for app in app_list %}

        {% if  app_list.index(app) == 0 %}
            <input type="radio" id=tab{{ app_list.index(app) + 1 }} name={{ app }} class="tab" checked>
        {% else %}
            <input type="radio" id=tab{{ app_list.index(app) + 1 }} name={{ app }} class="tab">
        {% endif %}

            <label for=tab{{ app_list.index(app) + 1 }}>{{ app }}</label>

            <div class="tab__content">

                {% for repo in repos_and_users.keys() %}
                    <details>
                        <summary>repo: {{ repos_and_users[repo] }}/{{ repo }}</summary>
                        <ul>
                            {% for versions in all_versions[feed_urls[repo]] %}
                            <li>{{ versions.title }}</li>
                            {% endfor %}
                        </ul>
                    </details>
                {% endfor %}

            </div>
        {% endfor %}

        </div>

    </div>
</body>

</html>
